<!DOCTYPE html>
<html>
<body>
<div th:fragment="footer">
<hr class="footer">
        <footer class="page-footer font-small teal">
            <div class="container-fluid text-center text-md-left">
              <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                  <h5 class="text-uppercase font-weight-bold">Zostaw wiadomość, odezwiemy się</h5>
                  <p>Jeżeli masz jakieś pytania, skontaktuj sie z nami za posrednictwem formularza kontaktowego, dostępnego na stronie. </p>
          
                </div>
                <div class="col-md-6 mb-md-0" id="footer">
                  <h5 class="text-uppercase font-weight-bold">Dodatkowe informacje Kontakt</h5>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="contact.php">Formularz kontaktowy</a></li>
                    <li class="list-group-item"><a href="download.php">Regulamin</a></li>
                    <li class="list-group-item"><a href="#">Polityka prywatności</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
              <a href="index.php"> www.pon-shop.pl </a>
            </div>
          
          </footer>
  </script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="js/bootstrap.min.js"></script>
  </div>
</body>
</html>