<!DOCTYPE html>
<html lang="en">
<head th:fragment="common-header">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Peace-of-Nature</title>
	<meta name="description" content="Peace-of-Nature">
	<meta name="keywords" content="magic, spells">
	<meta name="author" content="Łukasz Frodyma">
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
<header th:fragment="header">
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <img src="img/icon.png" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="height:50px; width:50px;">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu I </a>
                    <ul class="dropdown-menu w-100 p-0" id="navbarDropdownMega">
                        <li class="dropdown-item">
                            <div class="row py-3">
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100" style=" min-height: 100%; min-width: 
       100%;background-image: url('img/pon.jpg'); background-position: center; background-size: cover; color:white;">
                                        <div class="card-body py-2 d-flex flex-column">
                                            <h6 class="text-uppercase small">Super produkt</h6>
                                            <h4 class="mb-0 text-truncate">Jedyny taki na rynku</h4>
                                            <p class="mt-1 text-truncate">Kup teraz</p>
                                            <h3 class="mb-0 mt-auto">99.99zł</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li>Kategoria I</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li>Kategoria II</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                                <li>Kategoria III</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu II </a>
                    <ul class="dropdown-menu w-100 shadow p-0" id="navbarDropdownMega">
                        <li class="dropdown-item">
                            <div class="row py-3">
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body py-2 d-flex flex-column">
                                            <h6 class="text-uppercase small">Super produkt</h6>
                                            <h4 class="mb-0 text-truncate">Jedyny taki na rynku</h4>
                                            <p class="mt-1 text-truncate">Kup teraz</p>
                                            <h3 class="mb-0 mt-auto">99.99zł</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria I</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria II</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria III</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu II </a>
                    <ul class="dropdown-menu w-100 shadow p-0" id="navbarDropdownMega">
                        <li class="dropdown-item">
                            <div class="row py-3">
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body py-2 d-flex flex-column">
                                            <h6 class="text-uppercase small">Super produkt</h6>
                                            <h4 class="mb-0 text-truncate">Jedyny taki na rynku</h4>
                                            <p class="mt-1 text-truncate">Kup teraz</p>
                                            <h3 class="mb-0 mt-auto">99.99zł</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria I</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria II</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria III</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu II </a>
                    <ul class="dropdown-menu w-100 shadow p-0" id="navbarDropdownMega">
                        <li class="dropdown-item">
                            <div class="row py-3">
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body py-2 d-flex flex-column">
                                            <h6 class="text-uppercase small">Super produkt</h6>
                                            <h4 class="mb-0 text-truncate">Jedyny taki na rynku</h4>
                                            <p class="mt-1 text-truncate">Kup teraz</p>
                                            <h3 class="mb-0 mt-auto">99.99zł</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria I</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria II</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria III</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown position-static">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu III </a>
                    <ul class="dropdown-menu w-100 shadow p-0" id="navbarDropdownMega">
                        <li class="dropdown-item">
                            <div class="row py-3 dupa">
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body py-2 d-flex flex-column">
                                            <h6 class="text-uppercase small">Super produkt</h6>
                                            <h4 class="mb-0 text-truncate">Jedyny taki na rynku</h4>
                                            <p class="mt-1 text-truncate">Kup teraz</p>
                                            <h3 class="mb-0 mt-auto">99.99zł</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria I</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria II</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3 pb-2">
                                    <div class="card rounded-lg h-100">
                                        <div class="card-body">
                                            <ul class="list-unstyled">
                                            <li>Kategoria III</li>
                                                <li><a href="#" class="text-info">Produkt 1</a></li>
                                                <li><a href="#" class="text-info">Produkt 2</a></li>
                                                <li><a href="#" class="text-info">Produkt 3</a></li>
                                                <li><a href="#" class="text-info">Produkt 4</a></li>
                                                <li><a href="#" class="text-info">Produkt 5</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <div class="container">
                    <div class="row mx-auto">
                     <div class="nav-item">
                         <form class="form" action="">
                            <input class="input" type="search">
                            <i class="fa fa-search"></i>
                         </form>
                    </div>
                </div>
            </div>
            </ul>
            <ul class="navbar-nav">
            <div class="nav-item dropdown text-center">
                <a href="#" id="imageDropdown" data-toggle="dropdown">
                    <img class="nav-icon" src="img/pon.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-right dropdown-menu-center" role="menu" aria-labelledby="imageDropdown">
                <li><a role="menuitem" href="Myaccount.php#inbox">Zaloguj się</a></li>
                <li><a role="menuitem" href="Myaccount.php#outbox">Zarejestruj się</a></li>
            </ul>
            </div>
            </ul>
</nav>
</header>
</body>
</html>